body {
    background-image:url('https://64.media.tumblr.com/e42e88d694200c3ecfd806a9af852e45/tumblr_pk56rtBoPQ1uzwgsuo1_400.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}
}